*{
    margin: 0;
    padding: 0;
}
.menu-link {
    color: #565656;
}

.card-title {
    height: 56px;
}

.movie-overview {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 120px;
}

.badge-container {
    height: 48px;
}

.poster-container {
    height: 450px;
}

.page-link:hover {
  color: #0056b3 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
}

.current-page {
  color: #fff !important;
  background-color: #007bff !important;
}

.current-page:hover {
  color: #fff !important;
  background-color: #007bff !important;
  cursor: default !important;
}

/* ------------- BADGES ------------- */

.badge-action {
    color: #fff;
    background-color: rgb(153, 22, 22);
  }
  
  .badge-aventure {
    color: #fff;
    background-color: rgb(34, 77, 34);
  }
  
  .badge-animation {
    color: #fff;
    background-color: rgb(184, 169, 37);
  }
  
  .badge-comédie {
    color: #fff;
    background-color: rgb(37, 113, 184);
  }
  
  .badge-crime {
    color: #fff;
    background-color: rgb(33, 10, 44);
  }
  
  .badge-documentaire {
    color: #fff;
    background-color: rgb(55, 91, 146);
  }
  
  .badge-drame {
    color: #fff;
    background-color: rgb(70, 69, 65);
  }
  
  .badge-familial {
    color: #fff;
    background-color: rgb(218, 125, 20);
  }
  
  .badge-fantastique {
    color: #fff;
    background-color: rgb(184, 37, 98);
  }
  
  .badge-histoire {
    color: #fff;
    background-color: rgb(36, 53, 32);
  }
  
  .badge-horreur {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }
  
  .badge-musique {
    color: #fff;
    background-color: rgb(148, 103, 21);
  }
  
  .badge-mystère {
    color: #fff;
    background-color: rgb(155, 91, 163);
  }
  
  .badge-romance {
    color: #fff;
    background-color: rgb(182, 37, 37);
  }
  
  .badge-science-fiction {
    color: #fff;
    background-color: rgb(109, 20, 87);
  }
  
  .badge-téléfilm {
    color: #fff;
    background-color: rgb(12, 140, 150);
  }
  
  .badge-thriller {
    color: #fff;
    background-color: rgb(17, 119, 63);
  }
  
  .badge-guerre {
    color: #fff;
    background-color: rgb(73, 28, 28);
  }
  
  .badge-western {
    color: #fff;
    background-color: rgb(102, 45, 13);
  }

.btn-down {
    margin-top: 30px
}

.background-red {
    background-color: #d99797 !important;
}
