*{
    margin: 0;
    padding: 0;
}
.menu-link {
    color: #565656;
}

.card-title {
    height: 56px;
}

.movie-overview {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 120px;
}

.badge-container {
    height: 48px;
}

.poster-container {
    height: 450px;
}

.page-link:hover {
  color: #0056b3 !important;
  background-color: #e9ecef !important;
  border-color: #dee2e6 !important;
}

.current-page {
  color: #fff !important;
  background-color: #007bff !important;
}

.current-page:hover {
  color: #fff !important;
  background-color: #007bff !important;
  cursor: default !important;
}

.movie-backdrop {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.movie-backdrop .container, .movie-backdrop .container div {
  max-height: 100%;
}

.movie-backdrop p, .movie-backdrop h2 {
  color: white;
}

.poster {
  box-shadow: 0px 0px 10px 0px black;
}

.note-and-genres-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.note-and-genres-container .note{
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  padding: 5px;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 1.6;
  border: 3px solid white;
}

.note-and-genres-container .note-info{
  color: white;
  width: 150px;
}

.movie-details-synopsis {
  overflow: auto;
}

.reviews-container {
  width: 80vw
}

.reviews-container .review {
  width: 100%;
  background-color: rgba(120, 120, 120, 0.1);
  border: 1px solid gray;
  border-radius: 5px;
}

.user-name {
  width: 30%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.user-review {
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.updated-at {
  position: absolute;
  right: 0;
  bottom: 0;
  color: gray;
}

.user-note {
  width: 10%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.6);
  margin: auto;
}

label span {
  font-size: 10px;
}

a * {
  color: black;
}

/* ------------- BADGES ------------- */

.badge-action {
    color: #fff;
    background-color: rgb(153, 22, 22);
  }

  .badge-aventure {
    color: #fff;
    background-color: rgb(34, 77, 34);
  }

  .badge-animation {
    color: #fff;
    background-color: rgb(184, 169, 37);
  }

  .badge-comedie {
    color: #fff;
    background-color: rgb(37, 113, 184);
  }

  .badge-crime {
    color: #fff;
    background-color: rgb(33, 10, 44);
  }

  .badge-documentaire {
    color: #fff;
    background-color: rgb(55, 91, 146);
  }

  .badge-drame {
    color: #fff;
    background-color: rgb(70, 69, 65);
  }

  .badge-familial {
    color: #fff;
    background-color: rgb(218, 125, 20);
  }

  .badge-fantastique {
    color: #fff;
    background-color: rgb(184, 37, 98);
  }

  .badge-histoire {
    color: #fff;
    background-color: rgb(36, 53, 32);
  }

  .badge-horreur {
    color: #fff;
    background-color: rgb(0, 0, 0);
  }

  .badge-musique {
    color: #fff;
    background-color: rgb(148, 103, 21);
  }

  .badge-myst\`ere {
    color: #fff;
    background-color: rgb(155, 91, 163);
  }

  .badge-romance {
    color: #fff;
    background-color: rgb(182, 37, 37);
  }

  .badge-science-fiction {
    color: #fff;
    background-color: rgb(109, 20, 87);
  }

  .badge-telefilm {
    color: #fff;
    background-color: rgb(12, 140, 150);
  }

  .badge-thriller {
    color: #fff;
    background-color: rgb(17, 119, 63);
  }

  .badge-guerre {
    color: #fff;
    background-color: rgb(73, 28, 28);
  }

  .badge-western {
    color: #fff;
    background-color: rgb(102, 45, 13);
  }

.btn-down {
    margin-top: 30px
}

.background-red {
    background-color: #d99797 !important;
}

.profile-picture {
    max-height: 150px;
    max-width: 150px;
}

.profile-review-picture {
    max-height: 150px;
    max-width: 150px;
}

.user-info {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}
